<!DOCTYPE html>
<html lang="en">
<head>
  <title>Display</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    .split {
      height: 100%;
      width: 50%;
      position: fixed;
      z-index: 1;
      top: 0;
      overflow-x: hidden;
      padding-top: 20px;
    }
    
    .left {
      left: 0;
    }
    
    .right {
      margin-left: 5%;
      right: 0;
    }

    </style>
</head>
<body>


  <div class="split left">
      <h1>MASK-RCNN </h1>
    <img src="\static\output\maskrcnn_out.png" style="max-width: 100%;height:auto;"><br>
    <h3>Processing Time: {{masktime}} Seconds</h3>
    <br>
    <h3>Objects Detected : </h3>
    {% for i in maskrcnn_objs %}
      <h4>{{maskrcnn_objs[i]}} {{i}}</h4>
    {% endfor %}
      
  </div>
  
  <div class="split right">
      <h1>YOLO V3</h1>
    <img src="\static\output\yolo_out.png" style="max-width: 100%;height:auto;"><br>
    <h3>Processing Time: {{yolotime}} Seconds</h3>
    <h3>Objects Detected : </h3>
    {% for i in yolo_objs %}
      <h4>{{yolo_objs[i]}} {{i}}</h4>
    {% endfor %}
  </div>

</body>
</html>
