<html>

  <head>
    <title>Image Captioning - Scene Descriptor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/loader.css')}}">

  </head>

  <body style="background: #EFF4F7";>
    <div class="container-fluid" style="margin-top:2%;">

      <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
          <div class="custom-file mb-3">
            <input onchange="readURL(this);" type=file class="custom-file-input" id="multiFiles" name="files[]" multiple="multiple">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>


      <div class="row">
        <!-- Search Type -->
        <div class="col-lg-3"></div>
        <div class="col-lg-3">
          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" id="searchtype1" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Search Function
              </button>
              <div class="dropdown-menu" id="searchtype">
                <a class="dropdown-item" href="#">Greedy Search</a>
                <a class="dropdown-item" href="#">Beam Search k=3</a>
                <a class="dropdown-item" href="#">Beam Search k=5</a>
                <a class="dropdown-item" href="#">Beam Search k=7</a>
              </div>
            </div>
          </div>
        </div>
      <!-- Search Type -->

      <!-- Preprocess -->
        <div class="col-lg-3">
          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" id="prepr1" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Preprocess
              </button>
              <div class="dropdown-menu" id="prepr">
                <a class="dropdown-item" href="#" value="asd">Preprocess: Yes (Custom Images)</a>
                <a class="dropdown-item" href="#">Preprocess: No</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3"></div>

      </div>
      <!-- Preprocess -->

      <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
          <button id=upload class="btn btn-success">Submit</button><br><br>
          </div>
          <div class="col-lg-5"></div>
        </div>

        </div> 

          <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid" id="showimg" src="#"/>
            </div>
            <div class="col-lg-6">
              <p id="caption">Caption Goes Here</p>

              <table id="caption_table" class="table table-bordered">
                <thead>
                  <tr>
                    <th>Prediction</th>
                    <th>Confidence</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>           
        </div>
  </div>

  <div id="loader"></div>

</body>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script type="text/javascript">

	$('#searchtype a').on('click', function(){    
      $('#searchtype1').html($(this).html());    
  })
  $('#prepr a').on('click', function(){    
      $('#prepr1').html($(this).html());    
  })
  
  //Preview Image
  function readURL(input) {
          if (input.files && input.files[0]) {
              var reader = new FileReader();
              reader.onload = function (e) {
                  $('#showimg')
                      .attr('src', e.target.result);
              };
              reader.readAsDataURL(input.files[0]);
          }
      }

      function showloader(){
        document.getElementById("loader").style.display = "block";
      }

		$(document).ready(function (e) {
      document.getElementById("loader").style.display = "none";
			$('#upload').on('click', function () {
        
				var form_data = new FormData();

        form_data.append("preprocess",$('#prepr1').html());
        form_data.append("searchtype",$('#searchtype1').html());

				var ins = document.getElementById('multiFiles').files.length;

				if(ins == 0) {
          alert('No file selected');
          return;
				} 
				
			  for (var x = 0; x < ins; x++) {
					form_data.append("files[]", document.getElementById('multiFiles').files[x]);
				}
        
				$.ajax({
					  type: 'POST',
            url: '/process_img',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
          beforeSend: function(){
            document.getElementById("loader").style.display = "block";
          },
          complete:function(data){
            document.getElementById("loader").style.display = "none";
          },
					success: function (data) {
						document.getElementById("caption").innerHTML = data['caption'];
            var table = document.getElementById("caption_table");
            for(var i = table.rows.length - 1; i > 0; i--)
            {
                table.deleteRow(i);
            }
                        
            var tableRef = document.getElementById('caption_table').getElementsByTagName('tbody')[0];

            var acc = data['acc'].split(" ");
            var caption = data['caption'].split(" ");
            caption.push('<end>');

            for(var i=0;i<acc.length;i++){

              var newRow   = tableRef.insertRow();
              var genword  = newRow.insertCell(0);
              var conf  = newRow.insertCell(1);
              
              var captxt  = document.createTextNode(caption[i]);
              var acctxt = document.createTextNode(acc[i]);

              genword.appendChild(captxt);
              conf.appendChild(acctxt);
            }
					},	
				});
			});
		});
	</script>

</html>
